.about-us-title {
  @extend %section-title;
  font-family: $secondary-font;
  font-weight: 700;
  text-align: left;
  padding-top: 50px;
  margin-bottom: 40px;

  @include mq(tablet) {
    padding-top: 150px;
  }
}

.about-us-title--colored {
  @extend %section-title--secondary;
}

.info__wrapper {
  background-image: url(./../images/ab1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 80px;
  height: 200px;

  @include mq(mobile) {
    height: 300px;
  }

  @include mq(tablet) {
    height: 400px;
  }
}

.info__content {
  margin-bottom: 80px;
}

.info__list {
  display: flex;
}

.info__item {
  &:not(:last-child) {
    margin-right: 60px;
  }
}

.info__text {
  line-height: 2;
}
